

<div class="col-md-6">
    <div class="form-group">
        <label for="mission_dateDebutPrevue" class="required">Date de debut</label>
        <div class="input-group">
            <input class="form-control form-control-sm  has-datepicker no-auto skip-init" type="text"
                id="mission_dateDebutPrevue" name="mission[dateDebutPrevue]" required="required" autocomplete="off"
                fdprocessedid="3ftfy7">
            <div class="input-group-append">
                <span class="input-group-text">
                    <span class="far fa-calendar"></span>
                </span>
            </div>
        </div>
    </div>

</div>

<div class="col-md-6">
    <div class="form-group">
        <label for="mission_dateFinPrevue" class="required">Date de fin</label> 
        <input
            class="form-control form-control-sm " type="text" id="mission_dateFinPrevue" name="mission[dateFinPrevue]"
            required="required" readonly="readonly" fdprocessedid="qmo6h">
    </div>
</div>

<tbody class="column-container proto-container" data-childclass="" "="">
                            

    <tr class=" row-colonne even pointer table-light">
    <td width="40%" class="p-2">

        <div style="display:non" class="field-matiere">
            <select class="form-control form-control-sm has-select2 form-select select2-hidden-accessible"
                id="mission_ligneMissions_0_village" name="mission[ligneMissions][0][village]" required="required"
                fdprocessedid="0a6zps" tabindex="-1" aria-hidden="true"
                data-select2-id="select2-data-mission_ligneMissions_0_village">
                <option value="" selected="selected" data-select2-id="select2-data-254-mkyc">---Choisir une localité---
                </option>
                <option value="1" data-select2-id="select2-data-255-920y">BOUNDIALI</option>
            </select><span class="select2 select2-container select2-container--bootstrap5" dir="ltr"
                data-select2-id="select2-data-253-phlk" style="width: 100%;"><span class="selection"><span
                        class="select2-selection select2-selection--single form-control form-control-sm has-select2 form-select"
                        role="combobox" aria-haspopup="true" aria-expanded="false" tabindex="0" aria-disabled="false"
                        aria-labelledby="select2-mission_ligneMissions_0_village-container"
                        aria-controls="select2-mission_ligneMissions_0_village-container"><span
                            class="select2-selection__rendered" id="select2-mission_ligneMissions_0_village-container"
                            role="textbox" aria-readonly="true" title="---Choisir une localité---">---Choisir une
                            localité---</span><span class="select2-selection__arrow" role="presentation"><b
                                role="presentation"></b></span></span></span><span class="dropdown-wrapper"
                    aria-hidden="true"></span></span>
        </div>
    </td>
    <td width="10%" class="p-2">
        <div style="display:no " class="field-matiere"> <input class="form-control form-control-sm nbre-jours-table"
                type="number" id="mission_ligneMissions_0_nbreJours" name="mission[ligneMissions][0][nbreJours]"
                required="required" step="1" min="1" fdprocessedid="9x2b1zc"></div>
    </td>
    <td width="20%" class="p-2">

        <div style="display:no " class="field-matiere">
            <div class="input-group">
                <input class="form-control form-control-sm  has-datepicker no-auto skip-init" type="text"
                    id="mission_ligneMissions_0_dateDebut" name="mission[ligneMissions][0][dateDebut]"
                    required="required" autocomplete="off" fdprocessedid="ur2npb">
                <div class="input-group-append">
                    <span class="input-group-text">
                        <span class="far fa-calendar"></span>
                    </span>
                </div>
            </div>
        </div>
    </td>

    <td width="20%" class="p-2">
        <div style="display:no " class="field-matiere">
            <div class="input-group">
                <input class="form-control form-control-sm  has-datepicker no-auto skip-init" type="text"
                    id="mission_ligneMissions_0_dateFin" name="mission[ligneMissions][0][dateFin]" required="required"
                    autocomplete="off" fdprocessedid="c21rr">
                <div class="input-group-append">
                    <span class="input-group-text">
                        <span class="far fa-calendar"></span>
                    </span>
                </div>
            </div>
        </div>
    </td>

    <td width="10%" class="p-2 del-col " data-parent=".row-colonne"><a href="#" class="btn btn-danger btn-xs"><span
                class="fa fa-trash"></span></a></td>

    </tr>

    <tr class="row-colonne even pointer table-light">
        <td width="40%" class="p-2">

            <div style="display:non" class="field-matiere">
                <select class="form-control form-control-sm has-select2 form-select select2-hidden-accessible"
                    id="mission_ligneMissions_1_village" name="mission[ligneMissions][1][village]" required="required"
                    data-select2-id="select2-data-mission_ligneMissions_1_village" tabindex="-1" aria-hidden="true">
                    <option value="" selected="selected" data-select2-id="select2-data-257-subr">---Choisir une
                        localité---</option>
                    <option value="1" data-select2-id="select2-data-258-c0mf">BOUNDIALI</option>
                </select><span class="select2 select2-container select2-container--bootstrap5" dir="ltr"
                    data-select2-id="select2-data-256-fu1q" style="width: 100%;"><span class="selection"><span
                            class="select2-selection select2-selection--single form-control form-control-sm has-select2 has-select2 form-select"
                            role="combobox" aria-haspopup="true" aria-expanded="false" tabindex="0"
                            aria-disabled="false" aria-labelledby="select2-mission_ligneMissions_1_village-container"
                            aria-controls="select2-mission_ligneMissions_1_village-container"><span
                                class="select2-selection__rendered"
                                id="select2-mission_ligneMissions_1_village-container" role="textbox"
                                aria-readonly="true" title="---Choisir une localité---">---Choisir une
                                localité---</span><span class="select2-selection__arrow" role="presentation"><b
                                    role="presentation"></b></span></span></span><span class="dropdown-wrapper"
                        aria-hidden="true"></span></span>
            </div>
        </td>
        <td width="10%" class="p-2">
            <div style="display:no " class="field-matiere"> <input class="form-control form-control-sm nbre-jours-table"
                    type="number" id="mission_ligneMissions_1_nbreJours" name="mission[ligneMissions][1][nbreJours]"
                    required="required" step="1" min="1" fdprocessedid="w12mjn"></div>
        </td>
        <td width="20%" class="p-2">

            <div style="display:no " class="field-matiere">
                <div class="input-group">
                    <input class="form-control form-control-sm  has-datepicker no-auto skip-init" type="text"
                        id="mission_ligneMissions_1_dateDebut" name="mission[ligneMissions][1][dateDebut]"
                        required="required" autocomplete="off" fdprocessedid="8vhf6c">
                    <div class="input-group-append">
                        <span class="input-group-text">
                            <span class="far fa-calendar"></span>
                        </span>
                    </div>
                </div>
            </div>
        </td>

        <td width="20%" class="p-2">
            <div style="display:no " class="field-matiere">
                <div class="input-group">
                    <input class="form-control form-control-sm  has-datepicker no-auto skip-init" type="text"
                        id="mission_ligneMissions_1_dateFin" name="mission[ligneMissions][1][dateFin]"
                        required="required" autocomplete="off" fdprocessedid="6tfid">
                    <div class="input-group-append">
                        <span class="input-group-text">
                            <span class="far fa-calendar"></span>
                        </span>
                    </div>
                </div>
            </div>
        </td>

        <td width="10%" class="p-2 del-col " data-parent=".row-colonne"><a href="#" class="btn btn-danger btn-xs"><span
                    class="fa fa-trash"></span></a></td>

    </tr>
</tbody>



